{% block card %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">product.name</h5>
            <p class="card-text">product.description</p>
            <a href="{{ path('add_to_cart', {'id': product.id}) }}" class="btn btn-primary">add to cart</a>
        </div>
    </div>
{% endblock %}